* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: #eee !important;
  color: #aaa !important;
  border-color: #ddd !important;
} 